.con {
    max-width: 1460px;
}
.color-fff {
    color:#fff;
}
.font-size-12 {
    font-size: 12px;
}
.mobile-menu-bar,
.mobile-banner-section  {
    display: none;
}
/* 스크롤바 커스텀 */
html,
body {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 7px;
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.5);
    border-radius:10px;  
}
body.active::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0);
}
body::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}
body {
  scroll-behavior: smooth;
}
/* top-move-btn 커스텀 */
.top-move-btn {
    width: 60px;
    height: 60px;
    right:2%;
    bottom:5%;
    cursor: pointer;
    z-index: 2000 !important;
    opacity: 0;
    transition: bottom .3s;
}
.top-move-btn.active {
    opacity: 1;
    transition: all .3s;
}
.top-move-btn > .icon {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/pearlabyss/icn_cm_arrow_up_black.svg) no-repeat 0 0;
    background-size: contain;
    background-color: #fff;
    width: 54px;
    height: 54px;
    border:1.5px inset #000000;
    border-radius: 50%;
    overflow: hidden;
}
.top-move-btn > .icon::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 105%;
    height: 105%;
    background-color: rgba(180, 180, 180, 0.5);
    transform: translateY(100%);
    transition: transform 0.2s;
}
.top-move-btn:hover > .icon::after {
    transform: translateY(0%);
}
/* top-menu-bar 커스텀 */

.top-menu-bar {
    height: 70px;
    border-bottom: 1px solid rgba(239, 239, 239,0);
    transition: all .2s;
    z-index: 1000;
}

    /* logo 커스텀 */
.top-menu-bar > .menu-box-1 > .logo {
    width: 170px;
}
.top-menu-bar > .menu-box-1 > .logo > a {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/pearlabyss/cm_bi_white.svg) no-repeat 0 0;
    background-size: 150px auto;
    height: 21px;
    margin-left: 10px;
    margin-right: auto;
    transition: all .2s;
}
    /* hover-menu 커스텀 */
.top-menu-bar > .menu-box-1 > .hover-menu {
    width: 56%;
    margin-right: 4%;
    cursor: pointer;
    transition: all .2s;
}

.top-menu-bar > .menu-box-1 > .hover-menu > li > span {
    height: 70px;
    line-height:70px;
    position: relative;
}
.top-menu-bar > .menu-box-1 > .hover-menu > .menu-bottom {
    position: absolute;
    height: 2px;
    bottom:0;
    background: #000;
    display: none;
}
.top-menu-bar:hover > .menu-box-1 > .hover-menu > .menu-bottom {
    display: block;
}
.top-menu-bar.active > .menu-box-1 > .hover-menu > .menu-bottom {
    display: block;
}
.top-menu-bar > .menu-box-1 {
    position: relative;
    z-index: inherit;
}

.top-menu-bar:hover {
    height: 360px;
}
.top-menu-bar:hover::after {
    content: "";
    position: absolute;
    top:70px;
    width: 100%;
    height: 1px;
    background: #efefef;
}
.top-menu-bar > .menu-box-1 > .hover-menu > li > ul {
    font-size: 14px;
    color: #999999;
    font-family: 'notosanskr-regular2';
    position: absolute;
    top:100%;
    height: 0;
    margin-top: 18px;
    overflow: hidden;
    transition: all .2s;
    z-index: 1;
}

.top-menu-bar:hover > .menu-box-1 > .hover-menu > li > ul {
    height: 300px;
}
.top-menu-bar > .menu-box-1 > .hover-menu > li > ul > li > a {
    padding: 6px 0;
}
.top-menu-bar > .menu-box-1 > .hover-menu > li > ul > li:hover > a {
    color: #000000;
}

    /* lang 커스텀 */
.top-menu-bar > .menu-box-1 > .lang {
    margin-right: 10px;
    font-size:13px;
    font-weight: 900;
    line-height: 68px;
}
.top-menu-bar > .menu-box-1 > .lang {
    color: #999999;
}
.top-menu-bar > .menu-box-1 > .lang > li.active {
    color: #ffffff;
    transition: all .2s;
}
.top-menu-bar > .menu-box-1 > .lang > .kor {
    padding-right: 20px;
}
.top-menu-bar > .menu-box-1 > .lang > .kor::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 6px;
    background: #999999;
    top:50%;
    right:0;
    transform: translateY(-50%);
}
.top-menu-bar > .menu-box-1 > .lang > .eng {
    padding-left: 20px;
}
    /* .top-menu-bar:hover 커스텀 */
.top-menu-bar:hover {
    background: #ffffff;
    border-bottom: 1px solid rgba(239, 239, 239, 1);
}
.top-menu-bar:hover > .menu-box-1 > .logo > a {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/pearlabyss/cm_bi_black.svg) no-repeat 0 0;
    background-size: 150px auto;
    height: 21px;
    margin-left: 10px;
    margin-right: auto;
}
.top-menu-bar:hover > .menu-box-1 {
    color:#000000;
    z-index: 2;
}
.top-menu-bar:hover > .menu-box-1 > .lang > li.active {
    color: #000000;
}
    /* top-menu-bar.active 커스텀 */
.top-menu-bar.active {
    background: #fff;
    border-bottom: 1px solid rgba(239, 239, 239, 1);
}
.top-menu-bar.active > .menu-box-1 > .logo > a {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/pearlabyss/cm_bi_black.svg) no-repeat 0 0;
    background-size: 150px auto;
    height: 21px;
    margin-left: 10px;
    margin-right: auto;
}
.top-menu-bar.active > .menu-box-1 {
    color:#000000;
    z-index: 2;
}
.top-menu-bar.active > .menu-box-1 > .lang > li.active {
    color: #000000;
}

/* main-slider 커스텀 */

.main-slider .item-1 > .img{
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/pearlabyss/LK0NPUH14VGBN5R020200911045821352.jpg) no-repeat 50% 0;
    background-size: cover;
    width:100vw;
    height: 780px;
}
.main-slider .item-2 > .img{
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/pearlabyss/MMYPV8QO5YRX0F7820200908081836459.jpg) no-repeat 50% 0;
    background-size: cover;
    width:100vw;
    height: 780px;
}
.main-slider .item-3 > .img{
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/pearlabyss/XA5O7X5WZ2WHMID220200908081951677.jpg) no-repeat 50% 0;
    background-size: cover;
    width:100vw;
    height: 780px;
}
.main-slide-btn.left-btn {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/pearlabyss/icn_cm_arrow_right_white.svg) no-repeat 50% 50%;
    background-size: 18px 18px;
    width: 52px;
    height: 52px;
    top:50%;
    left:2.05%;
    transform: translateY(-30%) rotate(180deg);
    z-index: 2;
    border-radius: 50%;
    border:1px solid #ffffff;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
}
.main-slide-btn.left-btn::after {
    content: "";
    position: absolute;
    width: 52px;
    height: 52px;
    left:0;
    top:-100%;
    border-radius: 50%;
    background: rgba(255,255,255, .4);
    z-index: 1;
    transition: top .2s;
}
.main-slide-btn.left-btn:hover::after {
    top:0%;
}
.main-slide-btn.right-btn {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/pearlabyss/icn_cm_arrow_right_white.svg) no-repeat 50% 50%;
    background-size: 18px 18px;
    width: 52px;
    height: 52px;
    top:50%;
    right:2.05%;
    transform: translateY(-30%);
    z-index: 2;
    border-radius: 50%;
    border:1px solid #ffffff;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
}
.main-slide-btn.right-btn::after {
    content: "";
    position: absolute;
    width: 52px;
    height: 52px;
    left:0;
    top:100%;
    border-radius: 50%;
    background: rgba(255,255,255, .4);
    z-index: 1;
    transition: top .2s;
}
.main-slide-btn.right-btn:hover::after {
    top:0%;
}
.owl-dots, .owl-dot, .owl-dot > span,
.owl-dot.active {
    cursor:default;
    outline:none;
}
.main-slider .owl-dots {
    position: absolute;
    bottom:9%;
    left:50%;
    transform: translateX(-50%);
    
}
.main-slider .owl-dots > .owl-dot > span {
    outline: none;
    width: 6px;
    height: 6px;
    margin:0 15px;
}

/* news-section 커스텀 */

.news-section {
    padding: 0 10px;
    box-sizing: border-box;
    transition: all .3s;
}
.news-section > .section-title {
    font-weight: 900;
    font-size: 18px;
    margin-top: 28px;
}
.news-section > nav > ul > li {
    width: calc(100%/3);
    box-sizing: border-box;
    margin-top: 20px;
    position: relative;
}
.news-section > nav > ul > li:not(:last-child)::after {
    content: "";
    right:6%;
    top:10%;
    position: absolute;
    width: 1px;
    height: 90px;
    background: #efefef;
}
.news-section > nav > ul > li > a > .text-box {
    padding-right: 5%;
    width: 90%;
}
.news-section > nav > ul > li > a > .text-box > .title {
    font-weight: bold;
}
.news-section > nav > ul > li > a > .text-box > .date {
    font-size: 12px;
    color:#969696;
    margin-top: 10px;
    margin-bottom: 20px;
}
.news-section > nav > ul > li > a > .text-box > .body-text {
    font-size: 14px;
    color:#6a6a6a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:100%;
}
    /* banner-menu 커스텀 */
.banner-menu-section {
    margin-top: 100px;
}
.banner-menu-section > nav > ul > li {
    width: calc(100%/5);
    overflow: hidden;
    opacity: 0;
    transform: translateY(20%);
}
.banner-menu-section > nav > ul > li.active {
    transform: translateY(0);
    opacity: 1;
}
.banner-menu-section > nav > ul > li > a > .menu-info > .img {
    width: 100%;
    height: 576px;
    filter: grayscale(.8);
    transition: all .4s;
}
.banner-menu-section > nav > ul > li:hover > a > .menu-info > .img {
    filter: grayscale(0);
    transform: scale(1.2);
}
.banner-menu-section > nav > ul > .corp-info > a > .menu-info > .img {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/pearlabyss/main_category_company.jpg) no-repeat 0 0;
    background-size: cover;
}
.banner-menu-section > nav > ul > .corp-info.active {
    transition: all .3s;
    transition-duration: 900ms;
}
.banner-menu-section > nav > ul > .lab > a > .menu-info > .img {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/pearlabyss/main_category_lab.jpg) no-repeat 0 0;
    background-size: cover;
}
.banner-menu-section > nav > ul > .lab.active {
    transition: all .3s;
    transition-duration: 900ms;
    transition-delay: .1s;
}
.banner-menu-section > nav > ul > .culture > a > .menu-info > .img {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/pearlabyss/main_category_culture.jpg) no-repeat 0 0;
    background-size: cover;
}
.banner-menu-section > nav > ul > .culture.active {
    transition: all .3s;
    transition-duration: 900ms;
    transition-delay: .2s;
}
.banner-menu-section > nav > ul > .pearlabyss-in > a > .menu-info > .img {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/pearlabyss/main_category_in.jpg) no-repeat 0 0;
    background-size: cover;
}
.banner-menu-section > nav > ul > .pearlabyss-in.active {
    transition: all .3s;
    transition-duration: 900ms;
    transition-delay: .3s;
}
.banner-menu-section > nav > ul > .corp-news > a > .menu-info > .img {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/pearlabyss/main_category_news.jpg) no-repeat 0 0;
    background-size: cover;
}
.banner-menu-section > nav > ul > .corp-news.active {
    transition: all .3s;
    transition-duration: 900ms;
    transition-delay: .4s;
}
.banner-menu-section > nav > ul > li > a > .menu-info > .text-box {
    width: 100%;
    height: 100%;
}
.banner-menu-section > nav > ul > li > a > .menu-info > .text-box > .title,
.banner-menu-section > nav > ul > li> a > .menu-info > .text-box > .tr,
.banner-menu-section > nav > ul > li > a > .menu-info > .text-box > .sub-title {
    left:50%;
    transform: translateX(-50%);
    white-space: nowrap;
}
.banner-menu-section > nav > ul > li > a > .menu-info > .text-box > .title {
    bottom:19%;
    font-size: 24px;
    transition: all .4s;
}

.banner-menu-section > nav > ul > li:hover > a > .menu-info > .text-box >.title {
    bottom:23%;
}
.banner-menu-section > nav > ul > li > a > .menu-info > .text-box > .tr {
    width: 25px;
    height: 1px;
    background: #fff;
    bottom:20%;
    opacity: 0;
    transition: all .3s;
}
.banner-menu-section > nav > ul > li:hover > a > .menu-info > .text-box > .tr {
    opacity: 1;
}
.banner-menu-section > nav > ul > li > a > .menu-info > .text-box >.sub-title {
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
    bottom:5%;
    transition: all .2s;
}
.banner-menu-section > nav > ul > li:hover > a > .menu-info > .text-box >.sub-title {
    font-size: 18px;
    opacity: 1;
    visibility: visible;
    bottom:10%;
    transition: opacity .1s, visibility .1s;
}

    /* board-menu-section 커스텀 */
.board-menu-section {
    margin-top: 100px;
    padding: 0 10px;
    box-sizing: border-box;
}
.board-menu-section > nav {
    padding-left: 20px;
}
.board-menu-section > nav > ul > li {
    width: calc(100%/4);
    margin-right:20px;
    opacity: 0;
    transform: translateY(30%);
    transition: all .3s
}
.board-menu-section > nav > ul > li.active {
    opacity: 1;
    transform: translateY(0);
}
.board-menu-section > nav > ul > .list-1 {
    transition-duration: 600ms;
}
.board-menu-section > nav > ul > .list-2 {
    transition-delay: .1s;
    transition-duration: 600ms;
}
.board-menu-section > nav > ul > .list-3 {
    transition-delay: .2s;
    transition-duration: 600ms;
}
.board-menu-section > nav > ul > .list-4 {
    transition-delay: .3s;
    transition-duration: 600ms;
}
.board-menu-section > nav > ul > li > a > .img {
    width: 100%;
    overflow: hidden;
    font-size: 0;
}
.board-menu-section > nav > ul > li > a > .img > img {
    width: 100%;
    height: 100%;
    transform: scale(1.01);
    transition: all .9s;
}
.board-menu-section > nav > ul > li:hover > a > .img > img {
    transform: scale(1.2);
}
.board-menu-section > nav > ul > li > a > .text-box > .title {
    font-size: 14px;
    padding: 15px 0;
    color: #666;
}
.board-menu-section > nav > ul > li > a > .text-box > .sub-title {
    font-size: 18px;
    font-weight: 700;
}

/* footer-section 커스텀 */
.footer-section {
    border-top:1px solid rgba(239, 239, 239,1);
    border-bottom:1px solid rgba(239, 239, 239,1);
    margin-top: 200px;
}
.footer-section > .footer-site-map-menu-box > .menu-box-2 > nav {
    margin-top: 80px;
}
.footer-section > .footer-site-map-menu-box > .menu-box-2 > nav > ul > li > a {
    padding:5px 0;
}
.footer-section > .footer-site-map-menu-box > .menu-box-2 > nav > ul > li:not(.title) > a {
    color:#969696;
    font-size: 14px;
}
.footer-section > .footer-site-map-menu-box > .menu-box-2 > nav > ul > li:not(.title):hover > a {
    color:#000000;
}
.footer-section > .footer-site-map-menu-box > .menu-box-2 > nav > .bottom-menu {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 20px;
}
/* footer-coypright 커스텀 */
.footer-coypright {
    height: 75px;
}
.footer-coypright > .logo-copyright  > .text {
    color:#6a6a6a;
    font-size: 14px;
    opacity: .5;
}
.footer-coypright > .logo-copyright > .footer-logo {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/pearlabyss/cm_bi_black.svg) no-repeat 0 0;
    background-size: contain;
    width: 125px;
    height: 25px;
    margin-right: 3%;
    margin-left: 12%;
}
.footer-coypright >.icon-menu-box > ul {
    margin-right: 20px;
}
.footer-coypright >.icon-menu-box > ul > li {
    margin: 0 5px;
}
.footer-coypright >.icon-menu-box > ul > .facebook > a {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/pearlabyss/icn_footer_facebook_round.svg) no-repeat 0 0;
    background-size: contain;
    width: 40px;
    height: 40px;
}
.footer-coypright >.icon-menu-box > ul > .youtube > a {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/pearlabyss/icn_footer_youtube_round.svg) no-repeat 0 0;
    background-size: contain;
    width: 40px;
    height: 40px;
}
.footer-coypright >.icon-menu-box > ul > .instagram > a {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/pearlabyss/icn_footer_linkedin_round.svg) no-repeat 0 0;
    background-size: contain;
    width: 40px;
    height: 40px;
}


/* menu > ul > li > a > .icon 커스텀 */
.bottom-menu > a > .icon,
li > a > .icon {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/pearlabyss/icn_header_new_win.svg) no-repeat 0 0;
    background-size: contain;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    display: inline-block;
}