
@media (max-width:1024px) {
    .pc-view {
        display: none;
    }
    .mobile-menu-bar,
    .mobile-banner-section,
    .mobile-board-menu-section {
        display: block;
    }
    .news-section {
        padding-left: 40px;
    }
}